<% include ./partials/header %>
    <div class="ui main  text container segment">
        <div class="ui huge header">
            <%=blog.title.toUpperCase()%>
        </div>
        <div class="ui top attached">
            <div class="item">
                <image class="ui centered top image" src="<%=blog.image %>">

                    <div class "content">
                        <span>  <%=blog.created.toDateString()%>   </span>
                    </div>
                    <div class="description">
                        <p>
                            <%- blog.body %>
                        </p>
                    </div>
                    <a class="ui orange basic button" href="/blogs/<%=blog._id%>/edit"> EDIT post </a>
                    <form id="delete" action=" /blogs/<%=blog._id%>?_method=DELETE" method="POST">
                        <button class="ui red basic button "> DELETE POST

                        </button>

                    </form>
            </div>
        </div>







        <% include ./partials/footer %>